@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #155dfc;
    --color-secondary: teal;
}

.primary-clr {
    @apply bg-linear-to-r from-blue-600 to-indigo-600;
}

.on-hover {
    @apply hover:scale-105 transition-all duration-300
}

.layout {
    @apply max-w-7xl mx-auto px-4 md:px-10 xl:px-3
}